<div class="row">
<div class="col-8">
  <div class="card">
  <h3 class="card-title"><%= @flat.name %></h3>
  <p><%= @flat.address %></p>
  </div>
  <div class="card">
  <p><%= @flat.description %></p>
  </div>
</div>
<div class="col-4">

</div>


</div>
